/* General font & paragraph stuff: */
h1{
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.1em 0.1em 0em 0.1em;
    width:98%;
    border-radius: 0.1em 0.1em 0 0;
    background-color: #cc2939;
    color: white;
    font-weight: normal;
    text-align: center;
}

p{
    font-family: Garamond;
    line-height: 140%;
    width: 95%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
}
body, html {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    font-family: Garamond;
}

p.footnote {
    line-height: 100%;
    font-size: 0.9em;
    width: 50em;
}

#tool_wrap{
    padding-left: 1.1em;
    width: 50em;
    height: 67.4em;
}

div.inline {display: inline}

.boxed {
  border: 0.1em solid #0088cc;
  background: #eaf5fb;
  width: 48em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  padding-bottom: 0.6em;
}

/* Display of tables: */
table {
    border-collapse: collapse;
    width: 42.4em;
    position: static;
}
th, td {
    font-family: Garamond;
    text-align: center;
}
th {
    width: 4.24em;
    height: 2.5em;
    background-color: #0088cc;
    color: white;
    font-size: 1.21em;
    font-weight: normal;
}
th.wide {
    width: 21.2em;
}
tr:hover{background-color:#eaf5fb}
tr.spaced > td
{
  padding-top: 1em;
  padding-bottom: 1em;
}
tr.bottom_spaced > td
{
  padding-bottom: 1em;
}
tr.text > td
{
    text-align: justify;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
td.output {
    font-size: 1.21em;
    font-weight: bold;
}

/* Displaying the fancy looking tabs & navigation menu: */
.tabs input[type=radio] {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
.tabs, ul#menu {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0.1em auto;
}
.tabs li, ul#menu li{
    float: left;
}
.tabs label, ul#menu li a {
    display: block;
    width: 21.2rem;
    padding: 0.8em 0em;
    border-radius: 0.1em 0.1em 0 0;
    color: #cc2939;
    font-size: 1.35em;
    font-weight: normal;
    font-family: Garamond;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 0.18em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover, ul#menu li a:hover {
    background: #f6efee;
    top: 0;
}

ul#menu li.selected a {
    background: #cc2939;
    color: white;
    top: 0;
}

[id^=tab]:checked + label {
    background: #cc2939;
    color: white;
    top: 0;
}
[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    line-height: 140%;
    padding: 0.8em 0em;
    position: absolute;
    top: 2.73em;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/* Formatting the google charts: */
#bar_plot {
    position: relative;
    width:49em;
    height:20em;
}
#chart_div {
    position: relative;
    width:49em;
    height:20em;
}
